<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156633521406-a9vsnq1inac149i0divqk10tv05l9558.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156633521406-a9vsnq1inac149i0divqk10tv05l9558</string>
	<key>API_KEY</key>
	<string>AIzaSyBriQ6XdXIV7bhvE3eOHuNJJ0Uxk9RbgMk</string>
	<key>GCM_SENDER_ID</key>
	<string>156633521406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-19fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-19fcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156633521406:ios:46e487938269789b6359af</string>
</dict>
</plist>